In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/06 12:35:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

## Q1 Execute spark.version. What's the output?

In [3]:
spark.version

'3.5.5'

## Q2 Read the October 2024 Yellow into a Spark Dataframe.

Repartition the Dataframe to 4 partitions and save it to parquet.

What is the average size of the Parquet (ending with .parquet extension) Files that were created (in MB)? Select the answer which most closely matches.

In [3]:
# recursively read all data under yellow/2024/10/
df_yellow = spark.read \
    .option("header", "true") \
    .parquet('data/hw/yellow/2024/10/')

In [6]:
df_yellow \
    .select('VendorID', 'Airport_fee') \
    .show()

+--------+-----------+
|VendorID|Airport_fee|
+--------+-----------+
|       2|        0.0|
|       1|        0.0|
|       1|        0.0|
|       1|        0.0|
|       1|        0.0|
|       2|        0.0|
|       1|        0.0|
|       1|        0.0|
|       1|        0.0|
|       1|        0.0|
|       1|        0.0|
|       2|        0.0|
|       2|        0.0|
|       2|        0.0|
|       2|        0.0|
|       1|        0.0|
|       1|       1.75|
|       2|        0.0|
|       2|        0.0|
|       2|        0.0|
+--------+-----------+
only showing top 20 rows

In [5]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)

In [7]:
from pyspark.sql.types import StructType, StructField, LongType, StringType, DoubleType, IntegerType, TimestampType

In [8]:
yellow_schema = StructType([StructField('VendorID', IntegerType(), True), 
            StructField('tpep_pickup_datetime', TimestampType(), True), 
            StructField('tpep_dropoff_datetime', TimestampType(), True), 
            StructField('passenger_count', IntegerType(), True), 
            StructField('trip_distance', DoubleType(), True), 
            StructField('RatecodeID', IntegerType(), True), 
            StructField('store_and_fwd_flag', StringType(), True), 
            StructField('PULocationID', IntegerType(), True), 
            StructField('DOLocationID', IntegerType(), True), 
            StructField('payment_type', LongType(), True), 
            StructField('fare_amount', DoubleType(), True), 
            StructField('extra', DoubleType(), True), 
            StructField('mta_tax', DoubleType(), True), 
            StructField('tip_amount', DoubleType(), True), 
            StructField('tolls_amount', DoubleType(), True), 
            StructField('improvement_surcharge', DoubleType(), True), 
            StructField('total_amount', DoubleType(), True), 
            StructField('congestion_surcharge', DoubleType(), True),
            StructField('Airport_fee', DoubleType(), True)])

In [9]:
df_yellow \
    .repartition(4) \
    .write.parquet('data/hwpq/yellow/2024/10/')

In [11]:
pwd

'/home/hammedgcp/notebooks'

In [13]:
!ls -lh /home/hammedgcp/notebooks/data/hwpq/yellow/2024/10/*.parquet

-rw-r--r-- 1 hammedgcp hammedgcp 23M Mar  6 06:55 /home/hammedgcp/notebooks/data/hwpq/yellow/2024/10/part-00000-cc00e658-e29d-476d-a6e0-bf571b1c9a89-c000.snappy.parquet
-rw-r--r-- 1 hammedgcp hammedgcp 23M Mar  6 06:55 /home/hammedgcp/notebooks/data/hwpq/yellow/2024/10/part-00001-cc00e658-e29d-476d-a6e0-bf571b1c9a89-c000.snappy.parquet
-rw-r--r-- 1 hammedgcp hammedgcp 23M Mar  6 06:55 /home/hammedgcp/notebooks/data/hwpq/yellow/2024/10/part-00002-cc00e658-e29d-476d-a6e0-bf571b1c9a89-c000.snappy.parquet
-rw-r--r-- 1 hammedgcp hammedgcp 23M Mar  6 06:55 /home/hammedgcp/notebooks/data/hwpq/yellow/2024/10/part-00003-cc00e658-e29d-476d-a6e0-bf571b1c9a89-c000.snappy.parquet

In [17]:
!ls -lh /home/hammedgcp/notebooks/data/hwpq/yellow/2024/10/

total 90M
-rw-r--r-- 1 hammedgcp hammedgcp   0 Mar  6 06:55 _SUCCESS
-rw-r--r-- 1 hammedgcp hammedgcp 23M Mar  6 06:55 part-00000-cc00e658-e29d-476d-a6e0-bf571b1c9a89-c000.snappy.parquet
-rw-r--r-- 1 hammedgcp hammedgcp 23M Mar  6 06:55 part-00001-cc00e658-e29d-476d-a6e0-bf571b1c9a89-c000.snappy.parquet
-rw-r--r-- 1 hammedgcp hammedgcp 23M Mar  6 06:55 part-00002-cc00e658-e29d-476d-a6e0-bf571b1c9a89-c000.snappy.parquet
-rw-r--r-- 1 hammedgcp hammedgcp 23M Mar  6 06:55 part-00003-cc00e658-e29d-476d-a6e0-bf571b1c9a89-c000.snappy.parquet

In [16]:
!ls -lh /home/hammedgcp/notebooks/data/hwpq/yellow/2024/10/*.parquet | awk '{if (NR>1) {size=$5; gsub("M","",size); total+=size; count++}} END {if (count>0) print total/count, "MB"; else print "No Parquet files found"}'

23 MB

## Q3 How many taxi trips were there on the 15th of October?

In [4]:
df = spark.read.parquet('data/hwpq/yellow/2024/10/')

In [5]:
from pyspark.sql import functions as F

In [6]:
df \
    .withColumn('pickup_date', F.to_date(df.tpep_pickup_datetime)) \
    .filter("pickup_date = '2024-10-15'") \
    .count()

128893

In [7]:
df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)

## Q4 What is the length of the longest trip in the dataset in hours?

In [26]:
from pyspark.sql.functions import unix_timestamp, to_date, max, count, asc

#unix timestamp returns second, convert to hours by dividing by 3600
df.withColumn(
        "trip_duration_hours", 
        (unix_timestamp("tpep_dropoff_datetime") - unix_timestamp("tpep_pickup_datetime")) / 3600
    ) \
    .withColumn("pickup_date", to_date("tpep_pickup_datetime")) \
    .groupBy("pickup_date") \
    .agg(max("trip_duration_hours").alias("max_duration")) \
    .orderBy("max_duration", ascending=False) \
    .limit(5) \
    .show()

+-----------+------------------+
|pickup_date|      max_duration|
+-----------+------------------+
| 2024-10-16|162.61777777777777|
| 2024-10-03|           143.325|
| 2024-10-22|137.76055555555556|
| 2024-10-18|114.83472222222223|
| 2024-10-21| 89.89833333333333|
+-----------+------------------+

## Q6 Using the zone lookup data and the Yellow October 2024 data, what is the name of the LEAST frequent pickup location Zone?

In [15]:
df_zones = spark.read.parquet('zones')

In [16]:
df_zones.columns

['LocationID', 'Borough', 'Zone', 'service_zone']

In [17]:
df.columns

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'Airport_fee']

In [24]:
df.groupBy("PULocationID") \
    .agg(count("*").alias("trip_count")) \
    .orderBy("trip_count", ascending=True) \
    .limit(1) \
    .join(df_zones, df.PULocationID == df_zones.LocationID) \
    .select("Zone", "trip_count", "Borough") \
    .show()

+--------------------+----------+---------+
|                Zone|trip_count|  Borough|
+--------------------+----------+---------+
|Governor's Island...|         1|Manhattan|
+--------------------+----------+---------+

In [29]:
df \
    .join(df_zones, df.PULocationID == df_zones.LocationID) \
    .groupBy("PULocationID", "Borough", "Zone", "service_zone") \
    .agg(count("*").alias("trip_count")) \
    .orderBy(asc("trip_count")) \
    .limit(1) \
    .show()

+------------+---------+--------------------+------------+----------+
|PULocationID|  Borough|                Zone|service_zone|trip_count|
+------------+---------+--------------------+------------+----------+
|         105|Manhattan|Governor's Island...| Yellow Zone|         1|
+------------+---------+--------------------+------------+----------+

In [33]:
pickup_counts = (
    df.groupBy("PULocationID")
    .agg(count("*").alias("trip_count"))
)

# Find the least frequent pickup location
least_frequent_pickup = pickup_counts.orderBy(asc("trip_count")).limit(1)

# Join with the zone lookup to get the zone name
result = least_frequent_pickup.join(df_zones, pickup_counts.PULocationID == df_zones.LocationID) \
    .select("Zone", "trip_count", "PULocationID", "Borough")
result.show(truncate=False)

+---------------------------------------------+----------+------------+---------+
|Zone                                         |trip_count|PULocationID|Borough  |
+---------------------------------------------+----------+------------+---------+
|Governor's Island/Ellis Island/Liberty Island|1         |105         |Manhattan|
+---------------------------------------------+----------+------------+---------+